<header class="section_header">Exams</header>
<div section-editor template="exams_editor.html"></div>
<div class="section-content" style="text-align:center">
    <img src="img/F25.large.jpg" style="width:80%"/>
   <!-- <ul class="unstyled" >
        <li ng-show="!allergyViewModel.allergies.length">No known allergies</li>
        <li ng-repeat="allergy in allergyViewModel.allergies" >
            {{allergy.allergen}} <span style="color: gray">&middot; {{allergy.reaction}} </span>
        </li>
    </ul>-->
</div>