[submodule "static/framework/steal"]
	path = static/framework/steal
	url = https://github.com/jupiterjs/steal.git
[submodule "static/framework/funcunit"]
	path = static/framework/funcunit
	url = https://github.com/jupiterjs/funcunit.git
[submodule "static/framework/jquery"]
	path = static/framework/jquery
	url = https://github.com/jupiterjs/jquerymx
[submodule "smart_client"]
	path = smart_client
	url = https://github.com/chb/smart_client_python.git
