[submodule "static/framework/steal"]
	path = static/framework/steal
	url = https://github.com/jupiterjs/steal.git
[submodule "static/framework/funcunit"]
	path = static/framework/funcunit
	url = https://github.com/jupiterjs/funcunit.git
