[submodule "static/framework/steal"]
	path = static/framework/steal
	url = https://github.com/smart-platforms/steal-mirror.git
[submodule "static/framework/jquery"]
	path = static/framework/jquery
	url = https://github.com/smart-platforms/jquerymx.git
[submodule "smart_client"]
	path = smart_client
	url = https://github.com/smart-platforms/smart_client_python.git
[submodule "static/framework/funcunit"]
	path = static/framework/funcunit
	url = https://github.com/smart-platforms/funcunit.git
