dist/*
*~
rhino/build
jshost
htmlparser/gwt-*
htmlparser/html5
htmlparser/build

htmlparser/gwt2/htmlparser-*
htmlparser/gwt2/gwt-*
htmlparser/gwt2/war
htmlparser/gwt2/*/*/*/*/*/*.class

local_settings.js
java_pid*

# gpsee compiled js files
*.jsc

# emacs turds
\#*

