<table class='detailsTable'>
<%  
var firstImage = true;
for (var d = 0; d < data.length;d++)  { 
         var n = data[d][0];
         var v = data[d][1];         	
%>
<tr >
  <td><%= n %></td>
  <td>
  <%= v %>
  </td>
</tr>
<% } %>
</table>