/*

  colors
  ------

  blue       #bed0e8
  light_blue #d9e1ed
  dark_blue  #739acd
  orange     #E46C0A

*/

.bold { font-weight: bold; }
.normal { font-weight: normal; }
.smaller { font-size: smaller;}
.grayer { color: #666; }
.x-grayer { color: #999; }
.medium { font-size: 12px;}
.gray { background-color: #ebebeb; }
.highlight { color: #E46C0A; }
.caps { text-transform: uppercase; }

a { color: #08c; text-decoration: none;}
a:hover { border-bottom: 1px solid #08c; }
a.nohover:hover { border-bottom: none; }

body {
  background-color: white;
  font-family: Verdana, "Lucida Grande", "Helvetica Neue", Helvetica, Calibri, sans-serif;
  font-size: 12px !important;
  line-height: 1.5em;
  margin: 0px;
}

.container_12 {
  /* usually width: 92% and both margins at 4% each */
  width: 99%;
  margin-left: 1% !important;
  margin-right: 0 !important;
}

.section_header {
  background-color: #bed0e8;
  border-bottom: 1px solid #739acd;
  margin-bottom: 6px;
  margin-top: 12px;
  font-weight: bold;
  padding-left: 3px;
}

.section_subheader {
  background-color: #d9e1ed;
  margin-bottom: 3px;
  margin-top: 6px;
  font-weight: bold;
  padding-left: 3px;
}

#app_title_line {
  width: 100%;
  font-size: 18px;
  margin-bottom: 12px;
  background-color: #d9e1ed;
  border-bottom: 2px solid #739acd;
  text-align: center;
  padding: 5px 0;
}

#smart_bug { width: 21px; height: 18px; }

#demo_line {
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 8px;
  font-weight: bold;
}

.name { font-size: 20px; font-weight: bold; }

.demo_line_label {
  font-weight: normal;
  font-size: small;
  font-variant: small-caps;
  color: #999;
}

#errors {
  font-size: 16px;
  font-family: Calibri, "Helvetica Neue", Helvetica, Verdana, sans-serif;
  color: #555;
}

#show_overlay { font-weight: bold; color: black; font-size: smaller;}
#show_overlay:hover { border-bottom: none !important;}

.reminder { padding-bottom: 10px; }

.test_name { font-weight: bold; font-size: 13px; }
.test_value { font-weight: bold; font-size: 13px; }
.test_next_value { font-weight: bold; font-size: 13px; }

/*.active { font-weight: bold; }*/
/*.resolved_number { text-decoration: line-through;}*/

.controls { font-size: 14px; }

/* overlay stuff */
.lkv_overlay {
  padding: 10px;
  display:none;
  z-index:10000;
  background-color:#fff;
  width:675px;
  min-height:200px;
  height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
/*  border:1px solid #666;*/
  /* CSS3 styling for latest browsers */
  -moz-box-shadow:0 0 90px 5px #000;
  -webkit-box-shadow: 0 0 90px #000;
  
}

/* close button positioned on upper right corner */
/*.overlay .close {
  z-index: 15000;
  background-image:url(./close.png);
  position:absolute;
  right:0px;
  top:0px;
  right:-15px;
  top:-15px;
  cursor:pointer;
  height:35px;
  width:35px;
}
*/
.lkv_overlay .section_header {
  background-color: #CFC9FE;
  margin-bottom: 6px;
  margin-top: 12px;
  font-weight: bold;
}

/*
.overlay .details {
  position:absolute;
  top:15px;
  right:15px;
  font-size:11px;
  color:#fff;
  width:150px;
}

.overlay .details h3 {
  color:#aba;
  font-size:15px;
}
*/
.lkv_graph {
  width: 240px;
  height: 100px;
/*  margin: 15px 0px 30px 15px;*/
/*  text-align: center;*/
}