#errors {
  font-size: 16px;
  font-family: Calibri, "Helvetica Neue", Helvetica, Verdana, sans-serif;
  color: #555;
}

body {
  background-color: white;
  font-family: Verdana, "Lucida Grande", "Helvetica Neue", Helvetica, Calibri, sans-serif;
  font-size: 12px !important;
  line-height: 1.5em;
  margin: 0px;
}

.container_12 {
  /* usually width: 92% and both margins at 4% each */
  width: 99%;
  margin-left: 1% !important;
  margin-right: 0 !important;
}

.section_header {
  background-color: rgb(207, 201, 254);
  margin-bottom: 6px;
  margin-top: 12px;
  font-weight: bold;
}

.section_subheader {
  background-color: #E3E0FE;
  margin-bottom: 3px;
  margin-top: 6px;
  font-weight: bold;
}

/*.problem { padding-left: 12px; }
.cv_comorbidity { padding-left: 12px; }
.resolved_problem { padding-left: 12px; }
*/
.bold { font-weight: bold; }
.normal { font-weight: normal; }
.smaller { font-size: smaller;}
.grayer { color: #666; }
.x-grayer { color: #999; }
.medium { font-size: 12px;}

#top_line {  text-transform: uppercase; font-size: 18px; }
.name { font-weight: bold; font-size: 18px; }

#show_overlay { font-weight: bold; color: black; font-size: smaller;}
#show_overlay:hover { border-bottom: none !important;}

.reminder { padding-bottom: 10px; }

.test_name { font-weight: bold; font-size: 13px; }
.test_value { font-weight: bold; font-size: 13px; }
.test_next_value { font-weight: bold; font-size: 13px; }
.gray { background-color: #ebebeb; }
.red { color: red; }

/*.active { font-weight: bold; }*/
.resolved_number { text-decoration: line-through;}

a { color: #08c; text-decoration: none;}
a:hover { border-bottom: 1px solid #08c; }
a.nohover:hover { border-bottom: none; }

.controls { font-size: 14px; }

/* overlay stuff */
.overlay {
  padding: 10px;
  display:none;
  z-index:10000;
  background-color:#fff;
  width:675px;
  min-height:200px;
  height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
/*  border:1px solid #666;*/
  /* CSS3 styling for latest browsers */
  -moz-box-shadow:0 0 90px 5px #000;
  -webkit-box-shadow: 0 0 90px #000;
  
}

/* close button positioned on upper right corner */
/*.overlay .close {
  z-index: 15000;
  background-image:url(./close.png);
  position:absolute;
  right:0px;
  top:0px;
  right:-15px;
  top:-15px;
  cursor:pointer;
  height:35px;
  width:35px;
}
*/
.overlay .section_header {
  background-color: rgb(207, 201, 254);
  margin-bottom: 6px;
  margin-top: 12px;
  font-weight: bold;
}

/*
.overlay .details {
  position:absolute;
  top:15px;
  right:15px;
  font-size:11px;
  color:#fff;
  width:150px;
}

.overlay .details h3 {
  color:#aba;
  font-size:15px;
}
*/
.lkv_graph {
  width: 220px;
  height: 80px;
  margin: 15px 0px 30px 15px;
}