<%  for (var i = 0; i < chronics.length; i++)  {
         var m = chronics[i];
%>

<li class="chronic_med" <%=m  %>>
<a href="#adherence"><%= m.properName() %></a>
</li>

<% } if (chronics.length == 0) { %>
<li>No chronic meds in record</li>
<%}%>
