/**
*  CSS styles for the SMART Direct Applications
*
*  Author: Nikolai Schwertner
*
*  Revision history:
*       2011-10-04 Initial release
*/

body {
    font: 62.5% "Trebuchet MS", sans-serif;
}

/* Styling for the various in-page messages */

#header {
    font-family: verdana,arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
}

#title {
    font-family: verdana,arial,sans-serif;
    font-size: 20px;
    color: #555;
}

/* Items that are initially hidden */

#dialog-message {
    display: none;
}

#dialog-confirm {
    display: none;
}

.ui-dialog-titlebar-close {
    display: none;
}

#main-panel {
    display: none
}

/* Auto-complete box style */

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
}

/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
    height: 100px;
}