<!DOCTYPE html>
<html>
	<head>
	    <link href="layout.css" rel="stylesheet" type="text/css">
 		<script  src="http://sample-apps.smartplatforms.org/framework/smart/scripts/smart-api-page.js"></script>
	    <HR SIZE="6" COLOR="#993333">
 	  	<img src="Rx_image.png" /> 
        <HR SIZE="6" COLOR="#993333">
        <ul id="list-nav">
        <li><a href="index.html?oauth_header={{oauth_header}}">Home</a></li>
        <li><a href="about.html?oauth_header={{oauth_header}}">About</a></li>
        <li><a href="choose_med.html?oauth_header={{oauth_header}}">Med details</a></li>
        <li><a href="risk.html?oauth_header={{oauth_header}}">All meds</a></li>
        </ul>
        <br>
 	</head>
 	 
 	<body>	
        <h3> Overview </h3>
        <p>
        Though medications may be the single most important healthcare 
        intervention for chronic disease in the developed world (1,2), 
        their impact is modulated by patient adherence. Even for conditions 
        where using a single medication only once a day is known to improve 
        outcomes, only about 50% of patients adhere to the correct regimen  
        (3-5). Studies of patients taking antihypertensives, antidepressives, 
        antidiabetics, antipsychotics and antihyperlipidemics show that poor 
        adherence is predictive of poor outcomes and high costs, including 
        future hospitalizations and treatment discontinuation (8-20). Conversely, 
        consistent adherence to statins, antihypertensives, antidiabetic agents 
        and antiviral therapies is associated with positive health outcomes  
        (3,18,19,21). 
        </p>
        <p>
		Causes of non-adherence are multifactorial, including tolerability, side effects, 
		complexity of prescribing and filling procedures, level of understanding of the 
		importance of taking the medication, cultural norms, out of pocket cost of the 
		medication and the possible lack of discernable effects of the medication (1,22-25). 
		The effort to intervene effectively by healthcare providers is hampered by a tendency 
		to overestimate medication adherence (26-31).  
        </p>
	  	<p> 
		Surveillance of adherence can be achieved monitoring records of dispensed 
		prescription medications (6,7).  Prescription filling data provides an 
		indirect measure of adherence to prescription medication. Although 
		filled prescription medications are not always taken, it is generally true that 
		patients who do not fill a prescription are non-adherent. We sought to develop a 
		model of prescription fill data for early identification of patients prescribed 
		antihyperlipidemics, antihypertensives and oral hypoglycemics who will likely be 
		poor adherers one year after the start of a prescription.  		
        </p>
        
        <h3> Introduction </h3>
	  	<p> 
        The large-gap detection system was set to flag drug eras that 
        accumulated a continuous medication gap greater than 30 days, 
        based on the assumption that a patient lacking a months worth
        of medication supply could benefit from the attention of a clinician.
        Of the remaining unflagged subjects who consistently filled 
        prescriptions over the course of at least one year, we focused 
        on identifying those at high risk of future poor adherence, 
        so that an intervention could be made early in the course of
        their drug therapy. Our two-phase detector identifies subjects 
        at high risk of poor adherence to chronic medications as early 
        as 60 days after the first prescription fill. 
        </p> 
         		
        <h3> Methods </h3>
	  	<p> 
        This study is a retrospectively constructed two-phase prediction model for 
        early identification of patients at risk of poor adherence to chronic medications. 
        The first phase is a straightforward approach to identifying prolonged gaps in 
        prescription filling patterns. The second phase uses  a regression model to isolate 
        more complex and subtly patterns predictive of future poor adherence.
        </p> 
        
        <h3> References </h3>
        <p>
        
        </p>
         			  		  			
 	</body>
</html>
