<!DOCTYPE html>
<html>
	<head>
	    <link href="layout.css" rel="stylesheet" type="text/css">
 		<script  src="http://sample-apps.smartplatforms.org/framework/smart/scripts/smart-api-page.js"></script>
	    <HR SIZE="6" COLOR="#993333">
 	  	<img src="Rx_image.png" /> 
        <HR SIZE="6" COLOR="#993333">
        <ul id="list-nav">
        <li><a href="index.html?oauth_header={{oauth_header}}">Home</a></li>
        <li><a href="about.html?oauth_header={{oauth_header}}">About</a></li>
        <li><a href="choose_med.html?oauth_header={{oauth_header}}">Med details</a></li>
        <li><a href="risk.html?oauth_header={{oauth_header}}">All meds</a></li>
        </ul>
        <br>
 	</head>
 	 
 	<body>	
        <h3> Instructions </h3>
	  	<p> 
        Click on a  name in the list to see details for that specific medication.
	  	<br> 
	  	<br> 
        Press HOME button above to return to the list of medications.

         		
 	</body>
</html>
