Your medication is described as:<br>
<%= title %>.
<br><br>

Please choose the matching <em>coded medication</em> below:<br>

<ul>
<% for (var i = 0; i < choices.length; i++ ) {
   var name = choices[i].t.value;
   if (name.length > 80) {name = name.substr(0,77)+"...";}
%>
<li class='code_choice' name='<%=choices[i].cui.value._string%>'>
  <%=name %>
</li>
<% } %>
<br>
<li class='code_choice' name='null'>
  [no match]
</li>

</ul>