<!doctype html>
<html lang="en" ng-app="medrec">
	
<head>
	<title>Med Review App</title>
  <meta charset="utf-8">
	<link href='http://fonts.googleapis.com/css?family=Handlee|Galdeano' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/app.css"/>
	<script  src='../smart/scripts/smart-api-client.js'></script>
</head>

<body ng-controller="MedRecController">

		<div class="med-list" ng-repeat="medlist in medlists">
			<h2>{{medlist.sname.value}} ({{medlist.meds.length}} meds)</h2>
			Compiled on: <b> {{medlist.d.value | date:'MM/dd/yyyy'}}</b><br>
			<div class='med' ng-repeat="med in medlist.meds">  
				<input type='checkbox' ng-change='updateReconciled()' ng-model='med.selected' id='list-{{$parent.$index}}_med-{{$index}}'>
				<label for='list-{{$parent.$index}}_med-{{$index}}'>{{med.t.value}}</label>
				<br>
			</div>
		</div>

		<div id='reconciled' class='med-list'>
			<h2>Reconciled List</h2>
			<div class='med' ng-repeat="med in reconciled">{{med.t.value}}</div>
		</div>

  <script src="lib/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>

</body>
</html>
