<!DOCTYPE html>
<html lang="en">
<head>

   <!-- Stylesheets -->
   <link rel="stylesheet" href="/static/css/main.css" type="text/css" media="screen" />
   <link rel="stylesheet" href="/static/css/mousey-dialog.css" type="text/css" media="screen" />
   <!--<link rel="stylesheet" href="/static/themes/redmond/jquery.ui.all.css" type="text/css" media="screen" />-->

   <!-- SMART Connect client -->
   <script src="/static/smart/smart-api-client.js"></script>
   
   <script src="/static/lib/jquery.event.hover.js"></script>
   <script src="/static/lib/jquery.mouseyDialog.js"></script>

   <!-- Standard JS libraries -->
   <!--<script src="/static/lib/jquery-1.6.2.js"></script>-->
   <!--<script src="/static/lib/jquery-ui-1.8.14.custom.min.js" type="text/javascript"></script>-->

   <!-- AJAX wrappers -->
   <script src="/static/js/load_data.js"></script>

</head>
<body>

<h2>API Verifier</h2>

<div id="results"></div>

<div><p><textarea id="console" cols="80" rows="5"></textarea></p></div>

<script>
(function () {
    "use strict";

    $.ajaxSetup({cache: false});

    SMART.ready(function () {
        $.when(VERIFY.loadCalls())
         .then(function () {
            var res = "<table class='nicetable'>";
            res += "<thead><tr><th>DataModel</th><th>JS</th><th>REST</th></tr></thead><tbody>";
            for (var i in VERIFY.calls) {
                var call_py = VERIFY.calls[i].call_py;
                var call_js = VERIFY.calls[i].call_js;
                res += "<tr><td>"+i.replace("http://smartplatforms.org/terms#","")+"</td><td align='center' id='"+call_js+"'><img src='/static/images/ajax-loader.gif'/></td><td align='center' id='"+call_py+"'><img src='/static/images/ajax-loader.gif'/></td></tr>";
            }
            res += "</tbody></table>";
            $('#results').html(res);
            for (var i in VERIFY.calls) {
                var call_py = VERIFY.calls[i].call_py;
                VERIFY.callREST(call_py,
                    function(call_name) {$('#'+call_name).html("<img src='/static/images/err.gif'/>");}
                );
                
                var call_js = VERIFY.calls[i].call_js;
                VERIFY.callJS(call_js, i.replace("http://smartplatforms.org/terms#",""),
                    VERIFY.callback_ok,
                    function(call_name) {$('#'+call_name).html("<img src='/static/images/err.gif'/>");}
                );
            }
            VERIFY.getCalls();
         }, function () {
            alert("Could not load the needed data");
         });
    });
}());
</script>
</body>
</html>