$def with (version)
<!DOCTYPE html>
<html lang="en">
<head>

   <!-- Stylesheets -->
   <link rel="stylesheet" href="/static/css/main.css" type="text/css" media="screen" />
   <link rel="stylesheet" href="/static/css/mousey-dialog.css" type="text/css" media="screen" />
   <link rel="stylesheet" href="/static/themes/custom-theme/jquery-ui-1.8.18.custom.css" type="text/css" media="screen" />

   <!-- SMART Connect client (includes jQuery)-->
   <script src="/static/smart-${version}/smart-api-client.js"></script>
   
   <!-- Standard JS libraries -->
   <script src="/static/lib/jquery-1.6.2.js"></script>
   <script src="/static/lib/jquery-ui-1.8.14.custom.min.js" type="text/javascript"></script>
   
   <!-- jQuery plugins -->
   <script src="/static/lib/jquery.event.hover.js"></script>
   <script src="/static/lib/jquery.mouseyDialog.js"></script>

   <!-- JS functions for the app -->
   <script src="/static/js/utils.js"></script>

</head>
<body>

<h2>API Verifier (SMART v${version})</h2>

<div id="tabs">

    <ul>
        <li><a href="#tab_all">All</a></li>
        <li><a href="#tab_custom">Custom</a></li>
        <li><a href="#tab_queries">Queries</a></li>
        <li><a href="#tab_help">Help</a></li>
    </ul>
    
    <div id="tab_all">
        <div>
            <div id="results"></div>
            <div><p><textarea id="all_messages" cols="80" rows="8" readonly="readonly"></textarea></p></div>
        </div>
    </div>
    
    <div id="tab_custom">
        <div>
            <p>Select model:</p>
            <p><select id="model"></select></p>
            <p>Enter data:</p>
            <p><textarea id="rdf_input" cols="80" rows="16">&lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-8&quot;?&gt;
&lt;rdf:RDF
  xmlns:spcode=&quot;http://smartplatforms.org/terms/codes/&quot;
  xmlns:rdf=&quot;http://www.w3.org/1999/02/22-rdf-syntax-ns#&quot;
  xmlns:dcterms=&quot;http://purl.org/dc/terms/&quot;
  xmlns:sp=&quot;http://smartplatforms.org/terms#&quot;
&gt;
  &lt;sp:AllergyExclusion&gt;
    &lt;sp:allergyExclusionName&gt;
      &lt;sp:CodedValue&gt;
        &lt;sp:code rdf:resource=&quot;http://purl.bioontology.org/ontology/SNOMEDCT/160244002&quot;/&gt;
        &lt;dcterms:title&gt;no known allergies&lt;/dcterms:title&gt;
      &lt;/sp:CodedValue&gt;
    &lt;/sp:allergyExclusionName&gt;
    &lt;sp:belongsTo rdf:resource=&quot;patient&quot;/&gt;
  &lt;/sp:AllergyExclusion&gt;
  &lt;sp:Code rdf:about=&quot;http://purl.bioontology.org/ontology/SNOMEDCT/160244002&quot;&gt;
    &lt;rdf:type rdf:resource=&quot;http://smartplatforms.org/terms/codes/AllergyExclusion&quot;/&gt;
    &lt;sp:system&gt;http://purl.bioontology.org/ontology/SNOMEDCT/&lt;/sp:system&gt;
    &lt;dcterms:title&gt;no known allergies&lt;/dcterms:title&gt;
    &lt;dcterms:identifier&gt;160244002&lt;/dcterms:identifier&gt;
  &lt;/sp:Code&gt;
&lt;/rdf:RDF&gt;</textarea></p>
            <p><input id="validate" type="button" value="Validate" /></p>
            <div id="spinner"><p><img src='/static/images/ajax-loader.gif' /></p></div>
            <div><p><textarea id="custom_messages" class="console" cols="80" rows="8" readonly="readonly"></textarea></p></div>
        </div>
    </div>
    
    <div id="tab_queries">
        <div>
            <p>Select model:</p>
            <p><select id="model2"><option></option></select></p>
            <p id="queries_label">Queries description:</p>
            <div id="spinner2"><p><img src='/static/images/ajax-loader.gif' /></p></div>
            <div><p><textarea id="queries" class="console" cols="80" rows="30" readonly="readonly"></textarea></p></div>
        </div>
    </div>
    
    <div id="tab_help">
        <div>
            <p>The API Verifier executes a series of custom and automatically-generated (based
            on the official SMART ontology) tests on the results of the container's
            API calls (within the context of a patient). It will automatically fetch
            data from the common medical record call of the container (this version
            does not handle individual record item calls and various container-level
            calls) via both the SMART Connect and SMART REST interfaces.</p>

            <p>The results of the tests are reported in a table in the "All" view.
            Here is the key to the icons:</p>

            <p>
            <table class="nicetable legend">
                <tr>
                    <td><img src="/static/images/ok.gif" /></td>
                    <td> 
                        The container returned data as
                        result of the call and the data passed successfully all the tests within
                        the API Verifier.
                    </td>
                </tr>
                <tr>
                    <td><img src="/static/images/na.gif" /></td>
                    <td>
                        The container returned an empty data
                        set for the call. Since not all patients have data for all the medical
                        record items, this is a common outcome.
                    </td>
                </tr>
                <tr>
                    <td><img src="/static/images/err.gif" /></td>
                    <td>
                        The API call failed. This could
                        mean that the call is not yet implemented in the container, the user does
                        not have permission to execute the call, or there was a general failure
                        in the system.
                    </td>
                </tr>
                <tr>
                    <td><img src="/static/images/warn.gif" /></td>
                    <td>
                        The data returned by the container
                        failed some of the API Verifier test. Hovering over the icon displays the
                        list of tests that failed. A console box beneath the results table provides
                        additional details about the test that failed and references to the SMART
                        documentation related to the problems.
                    </td>
                </tr>
            </table>
            </p>

            <p>The "Custom" tab provides means for manually entering data fragments and
            testing them without he API Verifier for conformity to a specific data
            model.</p>

            <p>The "Queries" tab lists the details of the automatically-generated ontology
            tests that the API Verifier runs against the data models. (There are other
            tests included in the verifier that are not documented in this view.)</p>
            
            <p><strong>Note:</strong> While passing the API Verifier's tests does provide a high level of conformity
            assurance to the container developer, it does not guarantee the validity of the
            data. There are certain data problems which the current version of the verifier
            is unable to detect. Therefore this app should be used as an advising tool
            and not as proof for SMART conformity. We recommend running the API Verifier over
            a variety of patient records within the container to test a variety of patient
            data records and interfaces.</p>
        </div>
    </div>
    
</div>

<script>
(function () {
    "use strict";
    
    // Initialize the jQuert UI tabs object
    \$('#tabs').tabs();

    // Ajax calls should not be cached
    \$.ajaxSetup({cache: false});
    
    // Initialize the validate button (custom validator)
    \$('#validate').button();
    \$('#validate').button('disable');
    \$('#validate').click(VERIFY.validateCustomData);
    
    // Initialize the queries model selector
    \$('#model2').change(VERIFY.updateQueries);

    // When SMART connect is ready
    SMART.ready(function () {
    
        // Load the API calls list and then initialize the app
        \$.when(VERIFY.loadCalls("${version}"))
         .then( VERIFY.initializeApp,
                function () {
                    // Bring up an error message dialog upon failing to load the API calls list
                    alert("Could not load the needed data");
                }
              );
    });
}());
</script>

</body>
</html>