<!DOCTYPE html>
<html lang="en">
<head>

   <!-- Stylesheets -->
   <link rel="stylesheet" href="/static/css/main.css" type="text/css" media="screen" />
   <link rel="stylesheet" href="/static/css/mousey-dialog.css" type="text/css" media="screen" />
   <link rel="stylesheet" href="/static/css/jash.css" type="text/css" media="screen" />

   <!-- SMART Connect client (includes jQuery)-->
   <script src="/static/smart/smart-api-client.js"></script>
   
   <!-- jQuery plugins -->
   <script src="/static/lib/jquery.event.hover.js"></script>
   <script src="/static/lib/jquery.mouseyDialog.js"></script>

   <!-- AJAX wrappers -->
   <script src="/static/js/load_data.js"></script>

</head>
<body>

<h2>API Verifier (SMART v0.4)</h2>

<div id="results"></div>

<div><p><textarea id="JashInput" cols="80" rows="5"></textarea></p></div>

<script>
(function () {
    "use strict";

    // Ajax calls should not be cached
    $.ajaxSetup({cache: false});

    // When SMART connect is ready
    SMART.ready(function () {
    
        // First, load the API calls list
        $.when(VERIFY.loadCalls())
         .then(function () {
            // Then construct and output a placeholder table for all the calls and icons
            // with the icon defaulting to busy state. Finally, execute the api call tests.

            // Local variables
            var res,
                smart_model,
                call_py,
                call_js,
                call,
                model,
                SP = "http://smartplatforms.org/terms#";
            
            // Table header
            res = "<table class='nicetable'>";
            res += "<thead><tr><th>DataModel</th><th>JS</th><th>REST</th></tr></thead><tbody>";
            
            // Table body
            for (model in VERIFY.calls) {
                call_py = VERIFY.calls[model].call_py;
                call_js = VERIFY.calls[model].call_js;
                res += "<tr><td>"+model.replace(SP,"")+"</td><td align='center' id='"+call_js+"'><img src='/static/images/ajax-loader.gif'/></td><td align='center' id='"+call_py+"'><img src='/static/images/ajax-loader.gif'/></td></tr>";
            }
            
            // Table footer
            res += "</tbody></table>";
            
            // Output the table
            $('#results').html(res);
            
            // With all the API calls
            for (model in VERIFY.calls) {
            
                // Fetch the call name and the data model name
                call = VERIFY.calls[model];
                smart_model = model.replace(SP,"");
                
                // Run the api call tests on both the Python and JS interfaces
                VERIFY.callREST(call.call_py);
                VERIFY.callJS(call.call_js, smart_model);
            }
            
         }, function () {
            // Bring up an error message dialog upon failing to load the API calls list
            alert("Could not load the needed data");
         });
    });
}());
</script>
</body>
</html>