<!DOCTYPE html>
<html lang="en">
<head>

   <!-- Stylesheets -->
   <link rel="stylesheet" href="/static/css/main.css" type="text/css" media="screen" />
   <link rel="stylesheet" href="/static/css/mousey-dialog.css" type="text/css" media="screen" />
   <link rel="stylesheet" href="/static/css/jash.css" type="text/css" media="screen" />

   <!-- SMART Connect client (includes jQuery)-->
   <script src="/static/smart/smart-api-client.js"></script>
   
   <!-- jQuery plugins -->
   <script src="/static/lib/jquery.event.hover.js"></script>
   <script src="/static/lib/jquery.mouseyDialog.js"></script>

   <!-- JS functions for the app -->
   <script src="/static/js/utils.js"></script>

</head>
<body>

<h2>API Verifier (SMART v0.4)</h2>

<div id="results"></div>

<div><p><textarea id="JashInput" cols="80" rows="8"></textarea></p></div>

<script>
(function () {
    "use strict";

    // Ajax calls should not be cached
    $.ajaxSetup({cache: false});

    // When SMART connect is ready
    SMART.ready(function () {
    
        // Load the API calls list and then initialize the app
        $.when(VERIFY.loadCalls())
         .then( VERIFY.initializeApp,
                function () {
                    // Bring up an error message dialog upon failing to load the API calls list
                    alert("Could not load the needed data");
                }
              );
    });
}());
</script>
</body>
</html>