/* General styling of the fonts */
body {
 font-family: "Lucida Grande","Lucida Sans Unicode", helvetica, verdana, arial, sans-serif;
 line-height:1.125em;/*18px*/
 font-size:76%;
 letter-spacing:normal;
}

/* Width of the main tables in HTML view */
.main_table { width:600px; }

/* Styling for all tables in HTML view */
table { background:#DFEAF7;
     border:1px solid #000000;
     border-collapse:collapse;
     color:#FFFFFF;
     font:normal 12px verdana, arial, helvetica, sans-serif; }
caption { border-top: 1px solid #000000;
     border-left: 1px solid #000000;
     border-right: 1px solid #000000;
     color:#000000;
     font-weight:bold;
     padding:6px 4px 8px 10px;
     text-align:center;
     text-transform:uppercase; }
#description { font-weight:normal;
     letter-spacing:normal;
     text-transform:none;
     padding:6px 0px 0px 0px; }
td, th { color:#363636;
     /* Uncomment this to display borders in the table cells */
     /* border:1px solid #000000; */
     padding:.4em;}
thead th, tfoot th { background:#8EB4E3;
     color:#000000;
     padding:3px 10px 3px 10px;
     text-align:left;
     text-transform:uppercase; }
tbody td a { color:#363636;
     text-decoration:none; }
tbody td a:visited { color:#363636;
     text-decoration:none; }
tbody td a:hover { text-decoration:underline; }
tbody th a { color:#363636;
     font-weight:normal;
     text-decoration:none; }
tbody tr:hover { background:#DEE38D; }
tfoot td { background:#5C443A;
     color:#FFFFFF;
     padding-top:3px; }
.odd { background:#FFFFFF; }
.highlight { background:yellow;}
.nohover:hover { background:inherit; }
