body {
    font: 62.5% "Trebuchet MS", sans-serif;
}

#tabs, a[href='#tab_all'] {
    display:none;
}

#all_messages, #custom_messages, #rdf_input, #queries {
	padding: 2px;
	font-family: monospace;
	font-size: 11px;
    width: 99%;
}

#all_messages, #custom_messages, #queries, #queries_label, #spinner, #spinner2  {
    display:none;
}

#results {
    margin-top: 10px;
}

table.nicetable {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #a9c6c9;
    border-collapse: collapse;
}

table.nicetable th {
    text-align: left;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
    background-color:#c3dde0;
}

table.nicetable td {
    border-width: 1px;
    padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 8px;
    border-style: solid;
    border-color: #a9c6c9;
    background-color:#E4ECED;
}

table.legend {
    margin-left: 50px;
    margin-right: 50px;
}