<!DOCTYPE html>
<html>
	<head>
	    <link href="layout.css" rel="stylesheet" type="text/css">
 		<script  src="http://sample-apps.smartplatforms.org/framework/smart/scripts/smart-api-page.js"></script>
	    <HR SIZE="6" COLOR="#993333">
 	  	<img src="Rx_image.png" /> 
        <HR SIZE="6" COLOR="#993333">
        <ul id="list-nav">
        <li><a href="index.html?oauth_header={{oauth_header}}">Home</a></li>
        <li><a href="about.html?oauth_header={{oauth_header}}">About</a></li>
        <li><a href="choose_med.html?oauth_header={{oauth_header}}">Med details</a></li>
        <li><a href="risk.html?oauth_header={{oauth_header}}">All meds</a></li>
        </ul>
        <br>
 	</head>
 	 
 	<body>	
        <h3> Early Identification of Poor Adherence to Prescribed Medications </h3>
		
        <p>

		<font face="arial" size="2">
		Jonikas, M.A., and Mandl, K.D. (2011). Surveillance of medication use: early 
		identification of poor adherence. J Am Med Inform Assoc. 
		(full text: <a href="http://jamia.bmj.com/content/early/2011/11/18/amiajnl-2011-000416.long"> here.</a>)
		</font>

        </p>
		        
        <h4> Background </h4>
	  	<p> 
        We sought to measure population-level adherence to antihyperlipidemics, antihypertensives, 
		and oral hypoglycemics, and to develop a model for early identification of subjects at high 
		risk of long-term poor adherence. 
        </p> 
         		
        <h4> Methods </h4>
	  	<p> 
        Prescription-filling data for 2 million subjects derived from a payor's insurance 
		claims were used to evaluate adherence to three chronic drugs over 1 year. We relied 
		on patterns of prescription fills, including the length of gaps in medication possession, 
		to measure adherence among subjects and to build models for predicting poor long-term 
		adherence.        
		</p> 
        
        <h4> Results </h4>
	  	<p> All prescription fills for a specific drug were sequenced chronologically into 
		drug eras. 61.3% to 66.5% of the prescription patterns contained medication gaps >30 days 
		during the first year of drug use. These interrupted drug eras include long-term discontinuations, 
		where the subject never again filled a prescription for any drug in that category in the dataset, 
		which represent 23.7% to 29.1% of all drug eras. Among the prescription-filling patterns without 
		large medication gaps, 0.8% to 1.3% exhibited long-term poor adherence. Our models identified 
		these subjects as early as 60 days after the first prescription fill, with an area under the 
		curve (AUC) of 0.81. Model performance improved as the predictions were made at later time-points, 
		with AUC values increasing to 0.93 at the 120-day time-point.		
		</p> 
		
		<h4> Conclusions </h4>
	  	<p> 
		Dispensed medication histories (widely available in real time) are useful for alerting providers 
		about poorly adherent patients and those who will be non-adherent several months later. Efforts to 
		use these data in point of care and decision support facilitating patient are warranted.		
		</p>

 	</body>
</html>
