<!DOCTYPE html>
<!-- 
/**
*  SMART Direct Apps application
*
*  Developed by: Nikolai Schwertner
*
*  Revision history:
*       2011-10-04 Initial release
*/
-->
<html lang="en">
<head>

   <!-- Stylesheets -->
   <link rel="stylesheet" href="/static/css/main.css" type="text/css" media="screen" />
   <link rel="stylesheet" href="/static/themes/redmond/jquery.ui.all.css" type="text/css" media="screen" />

   <!-- SMART Connect client -->
   <script src="/static/smart/smart-api-client.js"></script>

   <!-- Standard JS libraries -->
   <script src="/static/lib/jquery-1.6.2.js"></script>
   <script src="/static/lib/jquery-ui-1.8.14.custom.min.js" type="text/javascript"></script>

   <!-- CK Editor JS library -->
   <script type="text/javascript" src="/static/ckeditor/ckeditor.js"></script>

   <!-- AJAX wrappers -->
   <script src="/static/js/load_data.js"></script>

</head>
<body>

<h3>Send SMART Apps</h3>

<!-- begin main panel -->
<div id='main-panel'>   
<table>
   <tr>
      <td valign="top" align="right">
          <label for="address">To: </label>
      </td>
      <td>
          <input id="address" size="50" />
      </td>
   </tr>
   <tr>
      <td valign="top" align="right">
          <label for="subject">Subject: </label>
      </td>
      <td>
           <input type="text" id="subject" size="50" />
      </td>
   </tr>
   <tr>
      <td valign="top" align="right">
        <label for="notes">Notes: </label><br/>
      </td>
      <td>
        <textarea id='notes' name='notes' cols='80' rows='5'></textarea>
        
        <script type="text/javascript">
        (function () {
            "use strict";

            // Initializer for CKEditor - edit to customize the buttons and groups displayed
            DIRECT.loadCK = function () {
                CKEDITOR.replace( 'notes',
                    {
                        removePlugins: 'elementspath',
                        toolbar :
                        [
                            { name: 'clipboard', items : [ 'Cut','Copy','Paste','PasteText','PasteFromWord','-','Undo','Redo' ] },
                            { name: 'editing', items : [ 'Find','Replace','-','SelectAll','-','SpellChecker', 'Scayt' ] },
                            { name: 'basicstyles', items : [ 'Bold','Italic','Underline','Strike','Subscript','Superscript','-','RemoveFormat' ] },
                            '/',
                            { name: 'paragraph', items : [ 'NumberedList','BulletedList','-','Outdent','Indent','-','Blockquote','CreateDiv','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock','-','BidiLtr','BidiRtl' ] },
                            { name: 'links', items : [ 'Link','Unlink','Anchor' ] },
                            { name: 'insert', items : [ 'Image','Table','HorizontalRule','SpecialChar','PageBreak' ] },
                            '/',
                            { name: 'styles', items : [ 'Styles','Format','Font','FontSize' ] },
                            { name: 'colors', items : [ 'TextColor','BGColor' ] }
                        ]
                    });
            };
        }());
        </script>

      </td>
   </tr>
   <tr>
      <td valign="top" align="right">
            <label for="apps">Apps: </label><br/>
      </td>
      <td>
        <div id="apps">
        </div>
      </td>
   </tr>
</table>

<p><input id='send_apps' type='button' value='Send' /></p>

</div>
<!-- end main panel -->

<!-- begin additional page elements -->
<div id="spinner">
    <img src='/static/images/ajax-loader.gif' />
</div>

<div id="dialog-message" title="Info">
    <p>Message successfully sent</p>
</div>

<div id="dialog-confirm" title="Save in address book?">
    <p>Would you like to save this recipient in your address book?</p>
</div>
<!-- end additional page element -->
    
<script>
(function () {
    "use strict";

    // Ajax calls should not be cached
    $.ajaxSetup({cache: false});

    // Initialize the send button
    $('#send_apps').button();
    $('#send_apps').click(function () {

        // Local variables
        var app_checked = false,
            myapps = [],
            email,
            recipient_email,
            add_email,
            i;

        // Validate the direct address
        if ($('#address').val().length === 0) {
            alert("Please enter the recipient's direct address");
            return;
        } else {
            // Need a better e-mail address validator here...
            email = $('#address').val().split("@");
            if (email.length !== 2) {
                alert("Please enter a valid address");
                return;
            }
        }

        // Validate the subject of the message (should be non-zero length)
        if ($('#subject').val().length === 0) {
            alert("Please enter a subject");
            return;
        }

        // Go over the app checkboxes and populate the myapps array with the manifests
        // of the selected apps
        for (i = 0; i < DIRECT.apps.length; i++) {
            if ($('#app-' + i).attr('checked')) {
                app_checked = true;
                myapps.push(DIRECT.apps[i].id);
            }
        }

        // Display an alert if no apps are selected and interrup the message sending
        if (!app_checked) {
            alert("Please select apps");
            return;
        }

        // Disable the send button
        $('#send_apps').button('disable');

        // Object converter code adapted from http://snook.ca/archives/javascript/testing_for_a_v
        function oc(a) {
          var o = {};
          for (var i=0; i < a.length; i++) {
            o[a[i]]='';
          }
          return o;
        }
        
        // Inline function for processing the actual send request
        function run_send() {
            // Put the UI in the appropriate state to indicate message processing
            $('#spinner').show();

            // Fire up the AJAX call for sending out the direct message
            $.post(
                "sendmail-apps",
                {'sender_name': DIRECT.sender.name,
                 'sender_email': DIRECT.sender.email,
                 'recipient_email': recipient_email,
                 'recipient_add': add_email,
                 'subject': $('#subject').val(),
                 'message': CKEDITOR.instances.notes.getData(),
                 'apps': myapps.toString(),
                 'oauth_header': SMART.credentials.oauth_header},
                function (responseText) {
                    // Upon success reset the UI and display a dialog
                    $('#send_apps').button('enable');
                    $('#spinner').hide();
                    $("#dialog-message").dialog({
                        closeOnEscape: false,
                        draggable: false,
                        resizable: false,
                        modal: true,
                        buttons: {
                            Ok: function () {
                                $(this).dialog("close");
                            }
                        }
                    });
                },
                "html"
            ).error(function () {
                // Log the failed AJAX call, reset the UI, and inform the user
                console.error("sendmail-apps failed");
                $('#send_apps').button('enable');
                $('#spinner').hide();
                alert("Failed to send the direct message");
            });
        }

        // Get the recipient's address
        recipient_email = $('#address').val();
        
        // Check if the recipient is in the address book
        if (recipient_email in oc(DIRECT.recipients)) {
            add_email = "false";
            run_send();
        } else {
            // When the recipient is not in the address book, ask the user whether to
            // add him to the address book
            $("#dialog-confirm").html("Would you like to save <strong>" + recipient_email + "</strong> in your address book?");
            $("#dialog-confirm").dialog({
                closeOnEscape: false,
                draggable: false,
                resizable: false,
                modal: true,
                buttons: {
                    "Yes": function() {
                        $( this ).dialog( "close" );
                        
                        // Execute the send request
                        add_email = "true";
                        run_send();
                        
                        // Update the local copy of the address book
                        DIRECT.recipients.push(recipient_email);
                        DIRECT.recipients.sort();
                        $("#address").autocomplete({
                            source: DIRECT.recipients
                        });
                    },
                    "No": function() {
                        $( this ).dialog( "close" );
                        add_email = "false";
                        run_send();
                    }
                }
            });
        }
    });

    // App data loader
    SMART.ready(function () {

        // Launch asynchronosly the data loading calls
        $.when(DIRECT.loadDemographics(),
               DIRECT.loadUser(),
               DIRECT.loadRecipients(),
               DIRECT.loadApps())

         .then(function () { // Upon success

            // Initialize the subject and notes fields
            $('#subject').val(DIRECT.sender.name + " has shared SMART apps with you");
            $('#notes').val("Explore " + DIRECT.patient.firstname + " " + DIRECT.patient.lastname + "'s record with these SMART apps.");

            // Load CKEditor
            DIRECT.loadCK();

            // Display the main panel and hide the spinner
            $('#spinner').hide();
            $('#main-panel').show();

         }, function () { // When the data loaders fail

            $('#spinner').hide();
            alert("Could not load the needed data");

         });
    });
}());
</script>
</body>
</html>