<!DOCTYPE html>
<!-- 
/**
*  SMART Direct Messages application
*
*  Developed by: Nikolai Schwertner
*
*  Revision history:
*       2011-10-04 Initial release
*/
-->
<html lang="en">
<head>

   <!-- Stylesheets -->
   <link rel="stylesheet" href="/static/css/main.css" type="text/css" media="screen" />
   <link rel="stylesheet" href="/static/themes/redmond/jquery.ui.all.css" type="text/css" media="screen" />

   <!-- SMART Connect client -->
   <script src="/static/smart/smart-api-client.js"></script>

   <!-- Standard JS libraries -->
   <script src="/static/lib/jquery-1.6.2.js"></script>
   <script src="/static/lib/jquery-ui-1.8.14.custom.min.js" type="text/javascript"></script>

   <!-- AJAX wrappers -->
   <script src="/static/js/load_data.js"></script>

</head>
<body>

<h3>Send SMART Message</h3>

<!-- begin main panel -->
<div id='main-panel'>
<table>
   <tr>
      <td valign="top" align="right">
          <label for="address">To: </label>
      </td>
      <td>
          <input id="address" size="50" />
      </td>
   </tr>
   <tr>
      <td valign="top" align="right">
          <label for="subject">Subject: </label>
      </td>
      <td>
           <input type="text" id="subject" size="50" />
      </td>
   </tr>
   <tr>
      <td valign="top" align="right">
            <label for="message">Message: </label><br/>
      </td>
      <td>
            <textarea id='message' cols='80' rows=16'></textarea>
      </td>
   </tr>
</table>

<p><input id='send_msg' type='button' value='Send' /></p>

</div>
<!-- end main panel -->

<!-- begin additional page elements -->
<div id="spinner">
    <img src='/static/images/ajax-loader.gif' />
</div>

<div id="dialog-message" title="Info">
    <p>Message successfully sent</p>
</div>

<div id="dialog-confirm" title="Save in address book?">
    <p>Would you like to save this recipient in your address book?</p>
</div>
<!-- end additional page element -->

<script>
(function () {
    "use strict";

    var email,
        recipient_email,
        add_email;

    // Ajax calls should not be cached
    $.ajaxSetup({cache: false});

    // Initialize the send button
    $('#send_msg').button();
    $('#send_msg').click(function () {

        // Validate the direct address
        if ($('#address').val().length === 0) {
            alert("Please enter the recipient's direct address");
            return;
        } else {
            // Need a better e-mail address validator here...
            email = $('#address').val().split("@");
            if (email.length !== 2) {
                alert("Please enter a valid direct address");
                return;
            }
        }

        // Validate the subject of the message (should be non-zero length)
        if ($('#subject').val().length === 0) {
            alert("Please enter a subject");
            return;
        }

        // Validate the message text (should be non-zero length)
        if ($('#message').val().length === 0) {
            alert("Please enter a message");
            return;
        }

        // Disable the send button
        $('#send_msg').button('disable');
        
        // Object converter code adapted from http://snook.ca/archives/javascript/testing_for_a_v
        function oc(a) {
          var o = {};
          for (var i=0; i < a.length; i++) {
            o[a[i]]='';
          }
          return o;
        }
        
        // Inline function for processing the actual send request
        function run_send() {
            // Put the UI in the appropriate state to indicate message processing
            $('#spinner').show();

            // Fire up the AJAX call for sending out the direct message
            $.post(
                "sendmail-msg",
                {'sender_name': DIRECT.sender.name,
                 'sender_email': DIRECT.sender.email,
                 'recipient_email': recipient_email,
                 'recipient_add': add_email,
                 'subject': $('#subject').val(),
                 'message': $('#message').val(),
                 'oauth_header': SMART.credentials.oauth_header},
                function (responseText) {
                    // Upon success reset the UI and display a dialog
                    $('#send_msg').button('enable');
                    $('#spinner').hide();
                    $("#dialog-message").dialog({
                        closeOnEscape: false,
                        draggable: false,
                        resizable: false,
                        modal: true,
                        buttons: {
                            Ok: function () {
                                $(this).dialog("close");
                            }
                        }
                    });
                },
                "html"
            ).error(function () {
                // Log the failed AJAX call, reset the UI, and inform the user
                console.error("sendmail-msg failed");
                $('#send_msg').button('enable');
                $('#spinner').hide();
                alert("Failed to send the direct message");
            });
        }
        
        // Get the recipient's address
        recipient_email = $('#address').val();
        
        // Check if the recipient is in the address book
        if (recipient_email in oc(DIRECT.recipients)) {
            add_email = "false";
            run_send();
        } else {
            // When the recipient is not in the address book, ask the user whether to
            // add him to the address book
            $("#dialog-confirm").html("Would you like to save <strong>" + recipient_email + "</strong> in your address book?");
            $("#dialog-confirm").dialog({
                closeOnEscape: false,
                draggable: false,
                resizable: false,
                modal: true,
                buttons: {
                    "Yes": function() {
                        $( this ).dialog( "close" );
                        
                        // Execute the send request
                        add_email = "true";
                        run_send();
                        
                        // Update the local copy of the address book
                        DIRECT.recipients.push(recipient_email);
                        DIRECT.recipients.sort();
                        $("#address").autocomplete({
                            source: DIRECT.recipients
                        });
                    },
                    "No": function() {
                        $( this ).dialog( "close" );
                        add_email = "false";
                        run_send();
                    }
                }
            });
        }
    });

    // Returns the version of IE used as decimal (i.e. 9.1)
    DIRECT.getInternetExplorerVersion = function () {
        var rv = -1; // Return value if not IE
        if (navigator.appName == 'Microsoft Internet Explorer') {
            var ua = navigator.userAgent;
            var re  = new RegExp("MSIE ([0-9]{1,}[\.0-9]{0,})");
            if (re.exec(ua) != null) rv = parseFloat( RegExp.$1 );
        }
        return rv;
    };

    // Default patient message constructor (could be replaced by a templating mechanism in a future version)
    DIRECT.getDefaultMessage = function () {
        var name = DIRECT.patient.firstname + " " + DIRECT.patient.lastname,
            meds = DIRECT.patient.meds,
            problems = DIRECT.patient.problems,
            out = "",
            i;
        out += "Dear Sir or Madam,\n\n";
        out += "I am writing to inform you about " + name + ", who is taking the following medications:\n\n";
        for (i = 0; i < meds.length; i++) {
            out += "  * " + meds[i] + "\n";
        }
        out += "\nAnd has the following problems:\n\n";
        for (i = 0; i < problems.length; i++) {
            out += "  * " + problems[i].date + " " + problems[i].problem + "\n";
        }
        out += "\nSincerely,\n\n" + DIRECT.sender.name;
        return out;
    };

    // App data loader
    SMART.ready(function () {

        // Launch asynchronosly the data loading calls
        $.when(DIRECT.loadDemographics(),
               DIRECT.loadUser(),
               DIRECT.loadMeds(),
               DIRECT.loadProblems(),
               DIRECT.loadRecipients())

         .then(function () { // Upon success

            // Build the main message
            var message = DIRECT.getDefaultMessage();

            // Hack to convert the line endings to \r when IE is used
            if (DIRECT.getInternetExplorerVersion() > 0) {
                message = message.replace(/\n/g, "\r");
            }

            // Initialize the main app message and subject fields
            $("#message").text(message);
            $('#subject').val("New patient message: " + DIRECT.patient.firstname + " " + DIRECT.patient.lastname);

            // Display the main panel and hide the spinner
            $('#spinner').hide();
            $('#main-panel').show();

         }, function () { // When the data loaders fail

            $('#spinner').hide();
            alert("Could not load the needed data");

         });
    });
}());
</script>
</body>
</html>