$def with (note, pin, accessURL, apps)
<html>
<head>
    <style>
    body {
        font: 80% "Trebuchet MS", sans-serif;
    }
    </style>
</head>
<body>
    <h3>Note from the sender</h3>
    $:note
    
    <h3>Instructions</h3>
    <p>To view the apps, please click on any one of the app 
    icons below.<br/>When asked use the following pin: <b>${pin}</b></p>
    
    <h3>Links to the SMART apps</h3>
    
    $for a in apps:
        <p>
            <a href='${accessURL}?initial_app=${a['id']}' target='_blank'>
                <img border='0' src='${a['icon']}' />
            </a>
            ${a['name']}
        </p>
    
</body>
</html>