/**
*  CSS styles for the the Blood Pressure Centiles SMART Application
*
*  Author: Nikolai Schwertner
*
*  Revision history:
*       2011-06-21 Refactored
*/

body {
    background: #000;
    color: #fff;
    font: 62.5% "Trebuchet MS", sans-serif;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

/* This section controls the positioning of the individual UI elements within the tabs */

#tabs {display:none; width:780px;}
.toggle-set { position: relative; float: left; margin-top: 4px; }
#filter_timerange { position: relative; float: left; margin-left: 6px; }
#slider-timerange { width: 150px; margin-top: 4px;}
#holder_short { padding-top: 5px; float:left; width: 320px; height: 400px; }
#holder_long   { padding-top: 5px; clear:both; width: 760px; height: 420px; }
#holder_table { padding-top: 10px; clear:both; }
#help_short {float:left;}

/* Styling for the calculator */

.spct {text-align: right;  position: relative; font-weight: bold; padding-left: .2em; padding-right: .2em; }
.dpct {text-align: left;  position: relative; font-weight: bold; padding-left: .2em; padding-right: .2em; }
.slash {font-weight: narrow;}
#result-label {font-size: 1.5em; color: #555; padding-bottom:10px}
#calculator-title {font-size: 1.2em; font-weight: bold; padding-bottom:10px}
.calc-panel table {background: black; color: #aaa; margin-top:5px; margin-bottom:5px; border-color: #aaa; border-style:solid; border-width:1px; border-collapse: collapse; }
.calc-panel th {background: #ddd; color: black; font-size: 30%; font-style: italic;}
#result-percentiles table, #result-thresholds table  {font-size: 3em;}
#calculator-inputs table td {padding: 5px}
#result-thresholds table td {font-size: 50%; padding: 5px}
#calculator-inputs table th {font-size: .9em;}
#result-percentiles table th, #result-thresholds table th {font-size: 30%;}
input[type='number'] {border: 1px solid #555; width: 40px;}
#gender_select {width: 140px}
.inputLabel {text-align: right}
#calculator-inputs {float:left}
#calculator-results-panel {float:left; padding-left:10px}
.clearall {clear:both}
.input-invalid {background-color: #f66}
.input-valid {}

/* Styling for the short term help panel */

.help-panel {
    width: 400px;
    height: 310px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#help-content {
    width: 400px; 
    height: 350px;
    padding: .4em;
    position: relative;
    display: none;
}

#help-content h3 {
    margin: 0;
    padding: .4em;
    text-align: center;
}

/* Styling for the various in-page messages in the BPC app */

#header {
    font-family: verdana,arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
}

#title {
    font-family: verdana,arial,sans-serif;
    font-size: 20px;
    color: #555;
}

#info {
    font: 300 1.2em "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
    width: 780px;
    height: 400px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#patient-info {
    font-family: verdana,arial,sans-serif;
    font-size:12px;
}

#dialog-message, #dialog-demo, #loaded_through, #div_y {
    display: none;
}

.ui-dialog-titlebar-close {
    display: none;
}

/* Styling for the footer and the stuff inside it */
#footer {
    width: 786px;
    line-height: 20px;
    position: relative;
}

#footer:after {
	content: "";
	display: block;
	clear: both;
}

#warning {
    text-align: left;
	width: 85%;
    color: rgb(170, 0, 0);
    float: left;
    font-weight: bold;
}

#copy {
    width: 15%;
    float: right;
    text-align: right;
    color: #999;
}

#loaded_through {
	float: left;
	width: 50%;
	text-align: left;
	clear: both;
	min-height: 40px;
}

#div_y {
	float: left;
	width: 50%;
	text-align: right;
	min-height: 40px;
}

.print-button {
	background: #666;
	border : 1px solid #333;
	padding: 0 13px 0 10px;
	margin : 0px 15px;
	border-radius: 6px;
	cursor: pointer;
	white-space: nowrap;
	height: 24px;
	vertical-align: top;
}

.print-button:hover,
.print-button:active {
	border: 1px solid #47889e;
	background: #295d70 url(themes/custom/images/ui-bg_glass_40_295d70_1x400.png) 50% 50% repeat-x;
	font-weight: bold;
	color: #cccccc;
}

.print-button:active {
	background-position: 50% 53%;
}

.print-button * {
	display: inline;
	vertical-align: top;
	line-height: 16px;
}

.print-button img {
	margin-right: 5px;
}


/* Styling for the table view */

table.nicetable {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #a9c6c9;
    border-collapse: collapse;
}

table.nicetable th {
    text-align: left;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
    background-color:#c3dde0;
}

table.nicetable td {
    border-width: 1px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-style: solid;
    border-color: #a9c6c9;
    background-color:#d4e3e5;
}

/* Additional styling to make the filter buttons take less space */
#filters .ui-button-text-only .ui-button-text {
    padding: 0.2em 0.4em;
}

#filters {
    font-size: 0.8em;
}

.language-selector {
    color: #888;
    text-shadow: 0 -1px 0 #333;
    line-height: 25px;
    float: right !important;
}

.language-selector select {
    background: #333;
    color: #999;
    border: 1px solid #222;
    padding: 1px 4px;
    border-radius: 3px;
    box-shadow: 0px 1px 2px 0px rgba(255, 255, 255, 0.2);
}

#pos_perc {
	position: relative;
	bottom: 100px;
	left: 53px;
}

.toLeft {
	margin-left: 9px;
}

.size_image_text {
	font-size: 11px;
}

