body {
    background: white;
    border: 0px;
    margin: 0px;
    padding: 0px;
    
    margin-left: 0px;
    padding-left: 0px;
}

@font-face {
    font-family: "Graublau Web";
    src: url("GraublauWeb.woff") format("woff");
}

@font-face {
    font-family: "Graublau Web Bold";
    font-weight: bold;
    src: url("GraublauWebBold.woff") format("woff");
}


.methods {
    color:#8B838B;
    font-family:"Graublau Web Bold";
    font-weight: bold;
}

INPUT.interpolation-field[disabled='true'] {
 
}


INPUT.interpolation-field {
	width: 30em;
	font-family: courier,fixed-width;
}

table#calls {
		border-bottom: 1px solid black;
		margin-bottom: 1em;
	}

#type-nav UL {
    font-family:"Graublau Web Bold";
    font-size:18px;
    font-weight:bold;
}
#wrap  {
    position: absolute;
    padding-left: 310px;
    box-sizing: border-box;
    width: 100%;
}

#type-nav {
    padding-left: .2em;
    padding-right: .2em;
    font-family:"Graublau Web";
   font-size:14px;
   font-weight:normal;
   left:0;
   position: absolute;
   color:#2B333B;
   padding-top: 0px;
   margin-top: 0px;
   width: 300px;
   height: 100%;
   background:  LightBlue;
   z-index: 10;
}


#type-heading .available {
    font-family:"Graublau Web";
    font-size:1.5em;
}

#response, #payload {
    font-size:0.8em;
    font-family: courier,fixed-width;
}

#payload {height: 20em; width: 640px;}
#response {
	padding: .5em;
	margin-left: .8em;
}

#result{
	width: 640px;
	height: 450px;
	border: 1px solid gray;
	z-index: 10000;
	overflow: hidden;
	font-family: monospace;
}

LI {
	list-style-type: none;
}

