/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

body {
    background: white;
    font-family: 'Galdeano';
    background: #646D7E;
}

.med-list  {
  width: 60%;
-moz-border-radius: 15px;
border-radius: 15px;
color: #dddddd;
background: #8B838b;
padding-left: 10px;
padding-top: 0px;
margin-bottom: 1em;
}

.med-list .med {
  font-family: 'Handlee';
}
h2 {
  margin-bottom: 0px;
}
.med-list .med:first-of-type {
  margin-top: 1em;
}

#reconciled {
  background: #3E3535;
}
