<%
var g = group;
var m = g.group_members;
%>
<div>
<div class='available'>Available API calls for <b><%= g.group_name %></b>:</div>
<table id='calls'>
<% for (var i = 0; i < m.length; i++) { %>
<tr><td>	<%=m[i].group_name%></td>  
	<td>
	<% for (var j = 0; j < m[i].group_members.length; j++) {
		var c = m[i].group_members[j];
	 %>
	<button  class="call" <%=c%>><%=c.method %></button>
	<% } %>
	</td>
</tr>	
<% } %>
</table>
</div>